extends layouts/main.pug 

block content

    form(method="post" action="/products")
        div(class="container-fluid mt-4")
            div(class="mb-3 w-25")
                label(for="name" class="form-label")="Nombre"
                input(type="text" name="title" class="form-control" id="title" placeholder="Ej: Camiseta")
            div(class="mb-3 w-25")
                label(for="price" class="form-label")="Precio"
                input(type="text" name="price" class="form-control" id="price" placeholder="Ej: 10000")
            div(class="mb-3 w-25")
                label(for="urlimage" class="form-label")="URL imagen"
                input(type="text" name="thumbnail" class="form-control" id="thumbnail" placeholder="Ej: ropa/camiseta.png")
            input(type="submit" class="btn btn-primary")