{{#if userName}}
    <h1>Bienvenido/a {{userName}}</h1>
    <a class="btn btn-primary" href="./logout">Cerrar Sesion</a>
{{/if}}


<form id="form">
    <div class="container-fluid mt-4">
        <div class="mb-3 w-25">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="Ej: Camiseta">
        </div>
        <div class="mb-3 w-25">
            <label for="price" class="form-label">Precio</label>
            <input type="text" name="price" class="form-control" id="price" placeholder="Ej: 10000">
        </div>
        <div class="mb-3 w-25">
            <label for="url" class="form-label">URL imagen</label>
            <input type="text" name="url" class="form-control" id="url" placeholder="Ej: ropa/camiseta.png">
        </div>
        <input type="submit" class="btn btn-primary" id="sendButton">
    </div>
</form>

{{> products}}
{{> chat}}