<h1>Inicie session</h1>
<form class="form-group col">
        <label>Usuario</label>
        <input class="input" id="userName" type="text" name="userName">
        <label>Password</label>
        <input class="input" id="password" type="password" name="pasword">
        <input type="submit" id="Iniciar Sesion" class="btn btn-primary" value="enviar">
</form>