<div>
    <h1>Chat</h1>
    <input type="text" id="messageInput">
    <button class="btn btn-primary" id="sendMessage">Enviar</button>
    <div id="historicalChat"></div>
</div>

<a href="/" class="btn btn-primary">Volver</a>